In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('student_lifestyle_dataset.csv')
df.head(5)

,Student_ID,Study_Hours_Per_Day,Extracurricular_Hours_Per_Day,Sleep_Hours_Per_Day,Social_Hours_Per_Day,Physical_Activity_Hours_Per_Day,GPA,Stress_Level
0,1,6.9,3.8,8.7,2.8,1.8,2.99,Moderate
1,2,5.3,3.5,8.0,4.2,3.0,2.75,Low
2,3,5.1,3.9,9.2,1.2,4.6,2.67,Low
3,4,6.5,2.1,7.2,1.7,6.5,2.88,Moderate
4,5,8.1,0.6,6.5,2.2,6.6,3.51,High

In [5]:
df.isnull().sum()

Student_ID                         0
Study_Hours_Per_Day                0
Extracurricular_Hours_Per_Day      0
Sleep_Hours_Per_Day                0
Social_Hours_Per_Day               0
Physical_Activity_Hours_Per_Day    0
GPA                                0
Stress_Level                       0
dtype: int64

In [12]:
df.drop('Student_ID', axis=1, inplace=True)

In [7]:
# Remove spaces and make consistent capitalization
df['Stress_Level'] = df['Stress_Level'].str.strip().str.capitalize()

In [8]:
mapping = {'Low': 0, 'Moderate': 1, 'High': 2}
df['Stress_Level'] = df['Stress_Level'].map(mapping)

In [9]:
df['Stress_Level'].head(4)

0    1
1    0
2    0
3    1
Name: Stress_Level, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Student_ID                       2000 non-null   int64
 1   Study_Hours_Per_Day              2000 non-null   float64
 2   Extracurricular_Hours_Per_Day    2000 non-null   float64
 3   Sleep_Hours_Per_Day              2000 non-null   float64
 4   Social_Hours_Per_Day             2000 non-null   float64
 5   Physical_Activity_Hours_Per_Day  2000 non-null   float64
 6   GPA                              2000 non-null   float64
 7   Stress_Level                     2000 non-null   int64
dtypes: float64(6), int64(2)
memory usage: 125.1 KB

In [11]:
hour_cols = ['Study_Hours_Per_Day','Extracurricular_Hours_Per_Day','Sleep_Hours_Per_Day','Social_Hours_Per_Day','Physical_Activity_Hours_Per_Day']

df[hour_cols] = df[hour_cols] / 24

In [12]:
df['GPA'] = df['GPA'] / 4

print(df)

      Student_ID  Study_Hours_Per_Day  Extracurricular_Hours_Per_Day  \
0              1             0.287500                       0.158333
1              2             0.220833                       0.145833
2              3             0.212500                       0.162500
3              4             0.270833                       0.087500
4              5             0.337500                       0.025000
...          ...                  ...                            ...
1995        1996             0.270833                       0.008333
1996        1997             0.262500                       0.116667
1997        1998             0.258333                       0.000000
1998        1999             0.337500                       0.029167
1999        2000             0.375000                       0.070833

      Sleep_Hours_Per_Day  Social_Hours_Per_Day  \
0                0.362500              0.116667
1                0.333333              0.175000
2                0.383333              0.050000
3                0.300000              0.070833
4                0.270833              0.091667
...                   ...                   ...
1995             0.308333              0.087500
1996             0.366667              0.062500
1997             0.258333              0.033333
1998             0.316667              0.145833
1999             0.304167              0.129167

      Physical_Activity_Hours_Per_Day     GPA  Stress_Level
0                            0.075000  0.7475             1
1                            0.125000  0.6875             0
2                            0.191667  0.6675             0
3                            0.270833  0.7200             1
4                            0.275000  0.8775             2
...                               ...     ...           ...
1995                         0.325000  0.8300             1
1996                         0.191667  0.6625             1
1997                         0.450000  0.7850             1
1998                         0.170833  0.7600             2
1999                         0.120833  0.8950             2

[2000 rows x 8 columns]

In [13]:
df.to_csv("processed_dataset.csv", index=False)